* { /* neste seletor, zeramos alguns valores que já são previamente definidos pelo browser */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* para manter as proporções da caixa sem somar os paddings que forem 
  adicionados /* por padrão é 'content-box', que pega o conteúdo e soma os paddings */
  /* a partir de agora todas as caixas manterão esse padrão */ 
}

body{
  height: 100vh; /* viewport higth, divide a tela (altura) em 100 pedacinhos, e pega 100 desses 
  para ocupar toda a tela */
  color: white; /* tudo o que estiver dentro do body é branco */
  background: #EBF2F5; /* cor de fundo */
}

:root {

  font-size: 62.5%; /* que equivale a 10px, devido o tamanho padrão da fonte no 
  navegador ser 16px */

} /* ': root' é referente a tag <html> */

body, input, button, textarea {
  font-size: 1.8rem; /* equivalendo 18px (já que 'rem' é referente ao root e 1 em = tamanho 
  da fonte estipulada no root (10 px ou 62.5%)) */
  line-height: 1; /* tamanho da linha / espaçamento entre as linhas */
  font-weight: 400; /* peso da fonte */ 
  font-family: 'Nunito', sans-serif; /* sans-serif fica como opção caso não consiga encontrar
  a Nunito */

  /* algumas dessas configurações não alterou nada na nossa página, porém é bom deixar valores
  especificados para que não seja utilizadas pré-definições estabelecidas pelo browser */

  /* maneira alternativa de se escrever o que está acima: */ /* font: 18rem/1 400 'Nunito', sans-serif; */
}






